@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nunito+Sans:opsz@6..12&display=swap');

.font-1{
  font-family: 'Montserrat', sans-serif;


}
.font-2{
  font-family: 'Nunito Sans', sans-serif;
}
body::-webkit-scrollbar {
  width: 17px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: #6D83F2;
  outline: 1px solid #6A98F0;
}
.btn{
  background:linear-gradient(134deg, #6A98F0 0%, #4961DC 99%)
}